.btn-link {
  background: none;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  padding: $s-size $m-size;
  text-decoration: none;
}

.btn-push {
  background-color: orange;
  border-radius: 4px;
  border-bottom: 4px solid darken(orange, 7%);
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: bold;
  margin-bottom: $s-size;
  padding: $s-size $m-size;
  text-align: left;
  text-decoration: none;
  &:active {
    transform: translateY(4px);
    border-bottom: none;
    margin-bottom: $m-size;
  }
}

.btn-push--secondary {
  @extend .btn-push ;
  background: #888;
  border-bottom: 4px solid darken(#888, 7%);
  margin-top: - $s-size;
}

.btn-google-signin {
  display: inline-block;
  margin: 0 auto;
}