.btn-bar {
  display: flex;
  justify-content: space-between;
}

.btn-link {
  background: none;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  padding: $s-size $m-size;
  text-decoration: none;
}

.btn-push {
  background-color: orange;
  border-radius: 4px;
  border-bottom: 4px solid darken(orange, 7%);
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: bold;
  margin: $s-size 0;
  padding: $s-size $m-size;
  &:active {
    transform: translateY(4px);
    border-bottom: none;
    margin-bottom: $m-size;
  }
}

.btn-push--small {
  font-size: $font-size-small;
  margin: 0;
  padding: $xs-size $s-size;
  &:active {
    margin-bottom: 4px;
  }
}

.btn-push--secondary {
  background: #888;
  border-bottom: 4px solid darken(#888, 7%);
  margin-top: - $s-size;
}

.btn-google-signin {
  display: inline-block;
  margin: 0 auto;
}