.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  transition: opacity 0ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0
}

// .ReactModal__Body--open {
//   background: $light-grey;
//   transition: background-color 0ms ease-in-out;
// }

.modal {
  background: white;
  border-radius: 8px;
  padding: $s-size $m-size;
}

// .modal--fixed-width {
//   width: px;
// }