.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  background-color: rgba(204, 204, 204, 0.75) !important;
  display: flex;
  justify-content: center;
  transition: opacity 0ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0
}

.modal {
  background: white;
  border-radius: 8px;
  padding: $s-size $m-size;
}